<!-- Use the computer template and override the content block -->
{% extends "computer.html" %}

<!-- Override the title -->
{% block title %}Orchid Identifier - Upload succeeded{% endblock %}

{% block content %}
    <!-- All lines in this block will be diplayd in the content block -->

    <!-- Display a header, telling the file is uploaded -->
    <h2>You have uploaded your file successfully</h2>
    
    <!-- Display the picture, give it a link to view the picter on a new
    webpage / tab -->
    <p><a href="/{{path}}"><img src="/{{path}}" width="200"/></a></p>
    
    <form action="/result/">
        <!-- The submit button with the text Upload picture inside -->
        <input type="submit" value="Result" id="button">
    </form>
    <!-- Display an empty line betwee both buttonts-->
    <p></p>
    <form action="/upload/">
        <!-- The submit button with the text Upload another picture inside -->
        <input type="submit" value="Upload another picture" id="button">
    </form>
{% endblock %}