{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Vitale weidevogels{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:700,400,300" media="all">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'sticky_traps/css/jquery.jcrop.min.css' %}">
        <link rel="stylesheet" href="{% static 'sticky_traps/css/main.css' %}">
        <script src="{% static 'sticky_traps/js/vendor/modernizr-2.6.2.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'sticky_traps:upload' %}">Upload foto's</a>
            </div>

          </div>
        </nav>

        <div class="container">
            <main id="main" role="main">
                <div class="content">
                {% block content %}No content.{% endblock %}
                </div>
            </main>

            <footer id="footer">
                {% block footer %}
                <ul class="links">
                    <li>Copyright 2016 <a href="http://www.naturalis.nl/">Naturalis</a></li>
                    <li>·</li>
                    <li><a href="https://github.com/naturalis/nbclassify">GitHub Project</a></li>
                </ul>
                {% endblock %}
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static "sticky_traps/js/vendor/jquery-3.3.1.min.js" %}"><\/script>')</script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="{% static 'sticky_traps/js/plugins.js' %}"></script>
        <script src="{% static 'sticky_traps/js/main.js' %}"></script>


        {% block scripts %}{% endblock %}
    </body>
</html>
