{% extends "sticky_traps/base_layout.html" %}

{% block content %}
<h1>OrchID</i></h1>

<p>Welcome to OrchID, an orchid photo identifier. This web application allows
you to identify a photo of an orchid up to the species level. Currently, only
the slipper orchids (subfamily Cypripedioideae) can be recognized. Use the
form below to upload your photo.</p>

<p>The photo needs to be reasonably standardized for the identification to work properly. Check that your photo:</p>

<ul class="fa-ul">
    <li><i class="fa-li fa fa-check-square-o"></i> has a frontal view of the flower;</li>
    <li><i class="fa-li fa fa-check-square-o"></i> shows at least one non-overlapping flower;</li>
    <li><i class="fa-li fa fa-check-square-o"></i> has a background with good contrast to the flower;</li>
    <li><i class="fa-li fa fa-check-square-o"></i> is not too small (at least 400 pixel width and height).</li>
</ul>

{% if error_message %}
    <div class="alert alert-warning" role="alert"><i class="fa fa-exclamation-circle fa-fw"></i> {{error_message}}</div>
{% endif %}

<form action="{% url 'sticky_traps:home' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        {{form}}
    </div>
    <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-upload fa-fw"></i> Upload Photo</button>
</form>
{% endblock %}
