{% extends "sticky_traps/base_layout.html" %}

{% block content %}
<h1>Project Vitale weidevogels</i></h1>

<p>Welkom op de vrijwilliger site van het project Vitale Weidevogels.
Dit project heeft als doel om op lange termijn de voedselvoorziening van de weidevogelkuikens te monitoren over een groot gebied.
Deze website is gemaakt zodat gemakkelijk foto's van de geplaatste vallen geüpload kunnen worden voor een volledige automatische analyse.
Als u betrokken bent bij het project en foto's gaat maken van de vallen, let dan goed op de onderstaande eisen die gesteld zijn voor deze foto's.
Als de foto's niet aan deze eisen voldoen zal het analyseren van de foto mislukken, en dan kan deze data niet gebruikt worden.
</p>

<p>De foto's moeten een redelijk hoge kwaliteit hebben voor de geautomatiseerde analyse. Zorg ervoor dat de foto:</p>

<ul class="fa-ul">
    <li><i class="fa-li fa fa-check-square-o"></i> De hele plakval bevat;</li>
    <li><i class="fa-li fa fa-check-square-o"></i> Recht boven de val is genomen, zodat hij er recht opstaat;</li>
    <li><i class="fa-li fa fa-check-square-o"></i> Een donkere achtergrond heeft;</li>
    <li><i class="fa-li fa fa-check-square-o"></i> Groot en scherp genoeg is om de kleinste insecten te kunnen onderscheiden.).</li>
</ul>


{% if error_message %}
    <div class="alert alert-warning" role="alert"><i class="fa fa-exclamation-circle fa-fw"></i> {{error_message}}</div>
{% endif %}

<div class="btn btn-primary btn-lg"> <i class="fa fa-upload fa-fw"></i> <a class="h3" href="{% url 'sticky_traps:upload' %}">Upload fotos</a></div>

{% endblock %}
