{% extends "sticky_traps/base_layout.html" %}
{% load thumbnail %}

{% block title %}My Photos | OrchID{% endblock %}

{% block content %}
<h1>My Photos</h1>

{% if photos %}
<div <a class="btn btn-primary btn-lg" href="{% url 'sticky_traps:home' %}">
  Upload more images
</a></div>
<div class="container-fluid" id="my-photos">
    <div class="row">
    {% for photo in photos %}
        <div class="col-sm-2">
            <a href="{% url 'sticky_traps:photo' photo.id %}">
                {% thumbnail photo.image "200x200" crop="center" as im %}
                <img src="{{ im.url }}" class="img-responsive" alt="{{ photo.file_name }}">
                {% endthumbnail %}
            </a>
        </div>
        {% if forloop.counter|divisibleby:"6" %}
    </div>
    <div class="row">
        {% endif %}
    {% endfor %}
    </div>
</div>
{% else %}
    <p>
        <div class="alert alert-info" role="alert">It seems that you haven't uploaded any photos yet. <a href="{% url 'sticky_traps:home' %}" class="alert-link">Upload a photo</a>?</div>
    </p>
{% endif %}
{% endblock %}
