{% extends "sticky_traps/base_layout.html" %}
{% block content %}
<h1>Plakval foto upload</i></h1>

<p>De foto's moeten een redelijk hoge kwaliteit hebben voor de geautomatiseerde analyse. Zorg ervoor dat de foto:</p>

<ul class="fa-ul">
    <li><i class="fa-li fa fa-check-square-o"></i> De hele plakval bevat;</li>
    <li><i class="fa-li fa fa-check-square-o"></i> Recht boven de val is genomen, zodat hij er recht opstaat;</li>
    <li><i class="fa-li fa fa-check-square-o"></i> Een donkere achtergrond heeft;</li>
    <li><i class="fa-li fa fa-check-square-o"></i> Groot en scherp genoeg is om de kleinste insecten te kunnen onderscheiden.).</li>
</ul>

{% if error_message %}
    <div class="alert alert-warning" role="alert"><i class="fa fa-exclamation-circle fa-fw"></i> {{error_message}}</div>
{% endif %}

<form id="post_form" method="post" action=""
      enctype="multipart/form-data">


    {% csrf_token %}
    {% for hidden in veld_form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    {{veld_form.media}}
    {{veld_form.as_p}}

  {{foto_form.management_form}}
  <table>
  {%for form in foto_form%}
    {{form}}
  {%endfor%}
  </table>


    <input type="submit" name="submit" value="Submit" />
</form>
{% endblock %}
