{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}OrchiD{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:700,400,300" media="all">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
        <link rel="stylesheet" href="{% static 'orchid/css/side-menu.css' %}">
        <link rel="stylesheet" href="{% static 'orchid/css/jquery.jcrop.min.css' %}">
        <link rel="stylesheet" href="{% static 'orchid/css/main.css' %}">
        <script src="{% static 'orchid/js/vendor/modernizr-2.6.2.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="layout">
            <a id="menuLink" class="menu-link" href="#menu">
                <span></span>
            </a>
            <nav id="menu" role="navigation">
                <div class="pure-menu pure-menu-open">
                    <a class="pure-menu-heading">OrchiD <i class="fa fa-leaf"></i></a>
                    <ul>
                        <li><a href="{% url 'orchid:home' %}">Identify Photo</a></li>
                        <li>
                            <a href="{% url 'orchid:library' %}">
                                <span class="badge pull-right" id="my-photos-n"></span>
                                My Photos
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main id="main" role="main">
                <div class="content">
                {% block content %}No content.{% endblock %}
                </div>

                <footer id="footer">
                    {% block footer %}
                    <ul class="links">
                        <li>By <a href="http://www.naturalis.nl/">Naturalis Biodiversity Center</a></li>
                    </ul>
                    <ul class="links">
                        <li><a href="https://github.com/naturalis/img-classify">GitHub Project</a></li>
                        <li>·</li>
                        <li><a href="https://github.com/naturalis/feature-extraction">Image Feature Extraction</a></li>
                        <li>·</li>
                        <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    </ul>
                    {% endblock %}
                </footer>
            </main>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static "orchid/js/vendor/jquery-1.10.2.min.js" %}"><\/script>')</script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="{% static 'orchid/js/plugins.js' %}"></script>
        <script src="{% static 'orchid/js/main.js' %}"></script>
        <script src="{% url 'orchid:js' %}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
