{% extends "orchid/base_layout.html" %}

{% block title %}Delete Photo | OrchiD{% endblock %}

{% block content %}
<h1>Delete Photo</h1>

<p>You are about to delete the following photo from our server. Are you sure?</p>

<form action="{% url 'orchid:delete_photo' photo.id %}" method="post" id="delete_photo_form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger"><i class="fa fa-trash fa-fw"></i> Yes, I'm sure</button>
    <a href="{% url 'orchid:photo' photo.id %}" class="btn btn-default">No, keep it</a>
</form>

<p>
    <div id="message"></div>
</p>

<p>
    <img src="{{ photo.image.url }}" id="photo" class="img-responsive img-rounded" alt="Photo">
</p>
{% endblock %}

{% block scripts %}
<script>
jQuery(function( $ ) {
    $('#delete_photo_form button').click(function(event) {
        $("#message").html('<div class="alert alert-info" role="alert">Deleting...</div>');

        $("#delete_photo_form").ajaxForm({
            dataType: "json",
            success: function(data) {
                if (data.stat == 'success') {
                    $("#message").html('<div class="alert alert-success" role="alert">The photo was deleted.</div>');

                    // Disable the button and hide the photo.
                    $('#delete_photo_form button').attr("disabled", "disabled")
                    $('#photo').addClass("hidden")
                }
                else {
                    $("#message").html('<div class="alert alert-danger" role="alert">The photo could not be deleted.</div>');
                }

            },
            error: function() {
                $("#message").html('<div class="alert alert-danger" role="alert">The photo could not be deleted.</div>');
            }
        }).submit();

        // Prevent normal browser submit and page navigation.
        return false;
    });
});
</script>
{% endblock %}
