{% load staticfiles %}
{% if scientificName %}
<div class="hidden" id="species-name"><em>{{ canonicalName }}</em> {{ describedBy }}</div>

{% if iucn %}
    {% if iucn.danger_status %}
    <div class="alert alert-danger" role="alert">IUCN threat status: <a href="{{ iucn.source }}" class="alert-link">{{ iucn.description }}</a></div>
    {% else %}
    <div class="alert alert-success" role="alert">IUCN threat status: <a href="{{ iucn.source }}" class="alert-link">{{ iucn.description }}</a></div>
    {% endif %}
{% endif %}

{% if imageObjects %}
<div class="container-fluid">
    {% for im in imageObjects %}
    <a href="http://eol.org/data_objects/{{ im.dataObjectVersionID }}"><img class="img-rounded" src="{{ im.eolThumbnailURL }}" alt="{{ im.title }}"></a>
    {% endfor %}
</div>
{% endif %}

{% if textObjects %}
    {% autoescape off %}
    {% for txt in textObjects %}
    <h3>{{ txt.title }}</h2>
    <p>{{ txt.description }}</p>
    {% endfor %}
    {% endautoescape %}
{% else %}
    <br><div class="alert alert-info" role="alert">No summaries found for this name. Refer to <a href="http://eol.org/{{ identifier }}" class="alert-link"><em>{{ canonicalName }}</em> on the Encyclopedia of Life</a> for additional information.</div>
{% endif %}

<span class="pull-right"><a href="http://eol.org/{{ identifier }}"><img src="{% static 'orchid/images/eol_logo_100.png' %}" height="25px" title="More info on the Encyclopedia of Life" alt="EOL.org"></a></span>
{% else %}
<p>
    <div class="alert alert-info" role="alert">This name was not found on the Encyclopedia of Life.</div>
</p>
{% endif %}
