{% if scientificName %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong><em>{{ canonicalName }}</em> {{ describedBy }}</strong> at the <a href="http://eol.org/{{ identifier }}">Encyclopedia of Life</a></div>
        <div class="panel-body">
            {% if iucn %}
                {% if iucn.danger_status %}
                <div class="alert alert-danger" role="alert">IUCN threat status: <a href="{{ iucn.source }}" class="alert-link">{{ iucn.description }}</a></div>
                {% else %}
                <div class="alert alert-info" role="alert">IUCN threat status: <a href="{{ iucn.source }}" class="alert-link">{{ iucn.description }}</a></div>
                {% endif %}
            {% endif %}

            {% if imageObjects %}
            <div class="container-fluid">
                {% for im in imageObjects %}
                <a href="http://eol.org/data_objects/{{ im.dataObjectVersionID }}"><img class="img-rounded" src="{{ im.eolThumbnailURL }}" alt="{{ im.title }}"></a>
                {% endfor %}
            </div>
            {% endif %}

            {% autoescape off %}
            {% for txt in textObjects %}
            <h3>{{ txt.title }}</h2>
            <p>{{ txt.description }}</p>
            {% endfor %}
            {% endautoescape %}
        </div>
    </div>
{% else %}
    <p>
        <div class="alert alert-info" role="alert">This species was not found on the Encyclopedia of Life.</div>
    </p>
{% endif %}
