{% extends "orchid/base_layout.html" %}

{% block content %}
<h2>Slipper Orchid Photo Identifier</h2>

<p>Welcome to the Slipper Orchid Photo Identifier. This web application allows you to identify a photo of a slippper orchid up to the species level. Use the form below to upload your photo. The photo needs to be reasonably standardized for the identification to work properly.</p>

<p>Please check that your photo:</p>
<ol>
    <li>has a frontal view of the flower;</li>
    <li>has only one flower;</li>
    <li>has a background with good contrast to the flower.</li>
</ol>

{% if error_message %}
    <div class="message error">{{error_message}}</div>
{% endif %}

<form action="{% url 'orchid:home' %}" method="post" enctype="multipart/form-data" class="pure-form">
    {% csrf_token %}
    {{form}}
    <p><button type="submit" class="pure-button pure-button-primary button-nbc">Upload Photo</button></p>
</form>
{% endblock %}
