{% extends "orchid/base_layout.html" %}

{% block title %}Identify Photo | OrchiD{% endblock %}

{% block content %}
<h1>Identify Photo</h1>

<p>Click and drag on the photo to select the flower if it does not comprise
the entire photo, especially if there are leaves or a pot in the photo as
well. Make sure that there is only a single flower in the selection with at
least a small margin around it. Then click the "Identify Photo" button to
start the identification.</p>

<form action="{% url 'orchid:identify' photo.id %}" method="post" id="identify_form">
    {% csrf_token %}
    <input type="hidden" id="roi" name="roi" value="">
    <button type="submit" class="pure-button pure-button-primary nbc"><i class="fa fa-search fa-fw"></i> Identify Photo</button>
</form>

<p>
    <div id="identity"></div>
</p>

<div id="species-info"></div>

<p>
    <img src="{{ photo.image.url }}" id="photo" class="img-responsive img-rounded" alt="Photo">
</p>
{% endblock %}

{% block scripts %}
<script>
jQuery(function( $ ) {
    // Initialize Jcrop.
    $('#photo').Jcrop({
        onSelect: function(c) {
            $('#roi').val(parseInt(c.y)+','+parseInt(c.y2)+','+parseInt(c.x)+','+parseInt(c.x2));
        },
        onRelease: function() {
            $('#roi').val('');
        },
        trueSize: [{{ photo.image.width }}, {{ photo.image.height }}]
    });

    // Identify Photo button.
    $('#identify_form button').click(function(event) {
        $("#identity").html('<div class="alert alert-info" role="alert"><i class="fa fa-gear fa-fw"></i> Please wait while we identify your photo...</div>');

        $("#identify_form").ajaxForm({
            target: '#identity',
            success: function() {
                // Set the species button actions.
                $("button[data-species]").click(function() {
                    $("#species-info").html('<div class="alert alert-info" role="alert">Fetching species info from the Encyclopedia of Life...</div>');

                    species = $(this).data("species");
                    $.ajax({
                        url: "/orchid/eol_species_info/" + species + "/",
                        dataType: "html",
                        success: function(data) {
                            $("#species-info").html(data);
                        },
                        error: function(data) {
                            $("#species-info").html('<div class="alert alert-danger" role="alert">Failed to obtain species info.</div>');
                        }
                    });
                });
            },
            error: function(xhr, textStatus, errorThrown) {
                $("#identity").html('<div class="alert alert-danger" role="alert">Sorry, an error occurred while identifying the photo.</div>');
            }
        }).submit();

        // Prevent normal browser submit and page navigation.
        return false;
    });
});
</script>
{% endblock %}
