{% extends "orchid/base_layout.html" %}

{% block title %}Identify Photo | OrchiD{% endblock %}

{% block content %}
<h1>Identify Photo</h1>

<p>Click and drag on the photo to select the flower if it does not comprise
the entire photo, especially if there are leaves or a pot in the photo as
well. Make sure that there is only a single flower in the selection with at
least a small margin around it. Then click the "Identify Photo" button to
start the identification.</p>

<form action="{% url 'orchid:identify' photo.id %}" method="post" id="identify_form">
    {% csrf_token %}
    <input type="hidden" id="roi" name="roi" value="">
    <button type="submit" class="pure-button pure-button-primary nbc"><i class="fa fa-search fa-fw"></i> Identify Photo</button>
</form>

<p>
    <div id="message"></div>
</p>

<p>
    <img src="{{ photo.image.url }}" id="photo" class="img-responsive img-rounded" alt="Photo">
</p>
{% endblock %}

{% block scripts %}
<script>
jQuery(function( $ ) {
    var form;

    // Initialize Jcrop.
    $('#photo').Jcrop({
        onSelect: function(c) {
            $('#roi').val(parseInt(c.y)+','+parseInt(c.y2)+','+parseInt(c.x)+','+parseInt(c.x2));
        },
        onRelease: function() {
            $('#roi').val('');
        },
        trueSize: [{{ photo.image.width }}, {{ photo.image.height }}]
    },
    function() {
        {% if roi %}
        // Display the ROI on the photo if one was already made.
        this.setSelect([{{roi.x}},{{roi.y}},{{roi.x2}},{{roi.y2}}]);
        {% endif %}
    });

    // Use an AJAX form.
    form = $("#identify_form").ajaxForm({
        success: function() {
            $("#message").html('<div class="alert alert-success" role="alert"><strong>Done!</strong> Redirecting you to the result now. <a href="{% url 'orchid:photo' photo.id %}">Click here</a> if you are not being redirected.</div>');
            setTimeout(function() {
                window.location.href = "{% url 'orchid:photo' photo.id %}";
            }, 3000);
        },
        error: function(xhr, textStatus, errorThrown) {
            $("#message").html('<div class="alert alert-danger" role="alert">Sorry, an error occurred while identifying the photo.</div>');
        }
    });

    // Identify Photo button.
    $('#identify_form button').click(function(event) {
        $("#message").html('<div class="alert alert-info" role="alert"><i class="fa fa-gear fa-fw"></i> Please wait while we identify your photo...</div>');

        // Submit the AjaxForm.
        form.submit();

        // Prevent normal browser submit and page navigation.
        return false;
    });
});
</script>
{% endblock %}
