{% if identities %}
<div class="table-responsive">
  <table class="table" id="id-result">
    <thead>
        <tr>
            <th>#</th>
            <th>Genus</th>
            <th>Section</th>
            <th>Species</th>
            <th><abbr title="Mean Square Error">MSE</abbr></th>
        </tr>
    </thead>
    <tbody>
        {% for id in identities %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><em>{{ id.genus }}</em></td>
            <td><em>{{ id.section|default:"&mdash;" }}</em></td>
            <td>
                {% if id.genus and id.species %}
                    <button class="btn btn-success" data-toggle="modal" data-target="#info-modal" data-identity="{{ id.id }}"><em>{{ id.genus|first }}. {{ id.species }}</em></button>
                {% else %}
                    &mdash;
                {% endif %}
            </td>
            <td>
                <span class="{% if id.error <= 0.0001 %}text-success{% endif %}" title="{{ id.error|stringformat:"e" }}">{{ id.error|floatformat:6 }}</span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
