{% extends "orchid/base_layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h3>Login required to remove files!</h3>

<form action="{% url 'orchid:auth' %}" method="post">
    {% csrf_token %}
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <p></p>
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="pasword">
    <p></p>
    <input type="submit" value="login" id="button">
</form>

<br>

<form action="{% url 'orchid:home' %}">
    <input type="submit" value="Home" id="button">
</form>
{% endblock %}
