{% extends "orchid/base_layout.html" %}

{% block title %}My Photos | OrchiD{% endblock %}

{% block content %}
<h2>My Photos</h2>

{% if photos %}
<div class="container-fluid" id="my-photos">
    <div class="row">
    {% for photo in photos %}
        <div class="col-sm-4"><a href="{% url 'orchid:result' photo.id %}"><img src="{{ photo.image.url }}" class="img-responsive img-rounded" alt="{{ photo.file_name }}"></a></div>
        {% if forloop.counter|divisibleby:"3" %}
    </div>
    <div class="row">
        {% endif %}
    {% endfor %}
    </div>
</div>
{% else %}
    <p>
        <div class="alert alert-info" role="alert">It seems that you haven't identified any photos yet. Any photos you identify will be displayed here.</div>
    </p>
{% endif %}
{% endblock %}
