{% extends "orchid/base_layout.html" %}
{% load thumbnail %}

{% block title %}My Photos | OrchID{% endblock %}

{% block content %}
<h1>My Photos</h1>

{% if photos %}
<div class="container-fluid" id="my-photos">
    <div class="row">
    {% for photo in photos %}
        <div class="col-sm-2">
            <a href="{% url 'orchid:photo' photo.id %}">
                {% thumbnail photo.image "200x200" crop="center" as im %}
                <img src="{{ im.url }}" class="img-responsive" alt="{{ photo.file_name }}">
                {% endthumbnail %}
            </a>
        </div>
        {% if forloop.counter|divisibleby:"6" %}
    </div>
    <div class="row">
        {% endif %}
    {% endfor %}
    </div>
</div>
{% else %}
    <p>
        <div class="alert alert-info" role="alert">It seems that you haven't identified any photos yet. Any photos you identify will be displayed here.</div>
    </p>
{% endif %}
{% endblock %}
