{% extends "orchid/base_layout.html" %}

{% block title %}Photo Identity | OrchiD{% endblock %}

{% block content %}
<h1>Photo Identity</h1>

<p>
    <div id="identity"></div>
</p>

<div id="species-info"></div>

<h2>Photo</h2>

<p>
    <img src="{{ photo.image.url }}" id="photo" class="img-responsive img-rounded" alt="Photo">
</p>

<div class="btn-group">
    <a href="{% url 'orchid:identify' photo.id %}" class="btn btn-default"><i class="fa fa-search fa-fw"></i> Redo Identification</a>
    <a href="{% url 'orchid:delete_photo' photo.id %}" class="btn btn-default"><i class="fa fa-trash fa-fw"></i> Delete Photo</a>
</div>
{% endblock %}

{% block scripts %}
<script>
jQuery(function( $ ) {
    // Load the photo identities.
    $("#identity").html('<div class="alert alert-info" role="alert"><i class="fa fa-gear fa-fw"></i> Please wait while we identify your photo...</div>');

    $.ajax({
        url: "{% url 'orchid:identity' photo.id %}",
        dataType: "html"
    }).done(function(data) {
        var species;

        // Display the result.
        $("#identity").html(data);

        // Set the species button actions.
        $("button[data-species]").click(function() {
            $("#species-info").html('<div class="alert alert-info" role="alert">Fetching species info from the Encyclopedia of Life...</div>');

            species = $(this).data("species");
            $.ajax({
                url: "/orchid/eol_species_info/" + species + "/",
                dataType: "html",
                success: function(data) {
                    $("#species-info").html(data);
                },
                error: function(data) {
                    $("#species-info").html('<div class="alert alert-danger" role="alert">Failed to obtain species info.</div>');
                }
            });
        });
    });

    {% if roi %}
    // Display the ROI on the photo if any.
    $('#photo').Jcrop({
            trueSize: [{{ photo.image.width }}, {{ photo.image.height }}]
        },
        function() {
            this.setSelect([{{roi.x}},{{roi.y}},{{roi.x2}},{{roi.y2}}]);
        }
    );
    {% endif %}
});
</script>
{% endblock %}
