{% extends "orchid/base_layout.html" %}

{% block title %}Photo Identity | OrchiD{% endblock %}

{% block content %}
<h2>Photo Identity</h2>

<p>
    <div id="identity"></div>
</p>

<p>
    <img src="{{ photo.image.url }}" id="photo" class="img-responsive img-rounded" alt="Photo">
</p>

<p>
    </a><a href="{% url 'orchid:delete_photo' photo.id %}" class="btn btn-danger"><i class="fa fa-trash fa-fw"></i> Delete Photo</a>
</p>
{% endblock %}

{% block scripts %}
<script>
jQuery(function( $ ) {
    var jcrop_api;

    // Load the photo identities.
    $("#identity").html('<div class="alert alert-info" role="alert"><i class="fa fa-gear fa-fw"></i> Please wait while we identify your photo...</div>');
    $.ajax({
        url: "{% url 'orchid:identity' photo.id %}",
        dataType: "html"
    }).done(function(data) {
        // Display the result.
        $("#identity").html(data);

        // Initialize Bootstrap Popovers.
        $("button[data-toggle='popover']").popover({
            html: true,
            trigger: 'focus'
        });
    });

    {% if roi %}
    // Display the ROI on the photo if any.
    $('#photo').Jcrop({
            trueSize: [{{ photo.image.width }}, {{ photo.image.height }}]
        },
        function() {
            jcrop_api = this;
        }
    );
    jcrop_api.setSelect([{{roi.x}},{{roi.y}},{{roi.x2}},{{roi.y2}}]);
    {% endif %}
});
</script>
{% endblock %}
