<!-- Use the computer template and override the content block -->
{% extends "computer.html" %}

<!-- Override the title -->
{% block title %}Orchid Identifier - Error{% endblock %}

{% block content %}
    <!-- All lines in this block will be diplayd in the content block -->
    
    <!-- Header -->
    <h2>Sorry!</h2>
    
    <!-- Explain the error and ask to try again -->
    <p>During the process, your picture has been removed.<BR>
    Please try again</p>
    
    <!-- Button to try again -->
    <form action="/upload/">
        <!-- The submit button with the text Upload picture inside -->
        <input type="submit" value="Upload picture" id="button">
    </form> 
    
    <p></p>
    <!-- Button to go back to the homepage -->
    <form action="/welcome/">
        <!-- The submit button with the text Home inside -->
        <input type="submit" value="Home" id="button">
    </form>
    
{% endblock %}