<!-- Load in the static function -->
{% load static %}

<!-- declare the DOCTYPE and html language-->
<!DOCTYPE html>
<html lang="en">

<!-- Create the head -->
<head>
    <!-- Create a title using a block -->
    <!-- This title needs to be changed! The best way to change the title
    is in the other html files witch extends this html -->
    <title>{% block title %} My Base Template{% endblock %}</title>
        
        <!-- Use the default.css stylesheet for all the lay-outs -->
        <link rel="stylesheet" type="text/css" href="{% static "assets/css/computer.css" %}">

<!-- end of the head -->        
</head>

<!-- Create the body -->
<body>
        <!-- Create a page -->
        <div id="page">
    
    <!-- Create a logo block, using the logo lay-out from default.css -->
    <div id="logo">
        {% block logo %}
        <!-- Place the Naturalis logo inside the logo block -->
        <ul>
            <a href="http://www.naturalis.nl"><img src="{% static "assets/images/Naturalis_logo.png" %}" width="100"/></a>
        </ul>
        <!-- End of the logo block -->
        {% endblock %}
    </div>
    
    <!-- Create a content block, using the content lay-out from default.css -->
    <div id="content">
        <!-- Place a standard text in the content -->
        <!-- This block will be override for all different html pages -->
        {% block content %}This is the content of this block{% endblock %}
        
    </div>
    
    <!-- Create a footer block, using the footer lay-out from default.css -->
    <div id="footer">
        <!-- Place some text in the footer block -->
        {% block footer %}<p>&copy; Patrick Wijntjes</p>{% endblock %}
    
        <!-- End of the page -->
        </div>

<!-- End of the body and of the html -->
</body>
</html>