<!-- Use the base template and override the content block -->
{% extends "computer.html" %}

<!-- Override the title -->
{% block title %}Orchid Identifier - Upload succeeded{% endblock %}

{% block content %}
    <!-- All lines in this block will be diplayd in the content block -->
    <!-- The displaying content is only for testing and needs to be updated
    for the real version -->

    <!-- Display a header, telling the file is uploaded -->
    <h2>You have uploaded the file!</h2>
    
    <!-- Display the filename -->
    <p>filename: {{filename}}</p>
    
    <!-- Display the path to the file -->
    <p>path: {{path}}</p>
    
    <!-- Display the picture, give it a link to view the picter on a new
    webpage / tab -->
    <p><a href="/{{path}}"><img src="/{{path}}" width="200"/></a></p>
    
    <form action="/result/">
        <!-- The submit button with the text Upload picture inside -->
        <input type="submit" value="Result" id="button">
    </form>
    
    <form action="/welcome/">
        <!-- The submit button with the text Upload picture inside -->
        <input type="submit" value="Home" id="button">
    </form>
{% endblock %}