<!-- Use the base template and override the content block -->
{% extends "mobile.html" %}

<!-- Override the title -->
{% block title %}Orchid Identifier - Home{% endblock %}

{% block content %}
    <!-- All lines in this block will be diplayd in the content block -->
    <!-- The displaying content is only for testing and needs to be updated
    for the real version -->

    <!-- Display a header, telling this is the welcome page -->
    <h2>Welcome</h2
    
    <!-- Tell the user to click below to upload a picture -->
    <h4>Welcome on the orchid identifier website of Naturalis</h4>
    <p>After uploading a picture the website will identify the orchid.<BR>
    Please click the upload picture button below to upload a picture.<BR>
    <em>You can upload a picture of a tuber, a leaf or a flower.</em></p>
    
    <!-- Create a form which contains two buttons.
    The first button is for uploading the file -->
    <form action="/upload/">
        <!-- The submit button with the text Upload picture inside -->
        <input type="submit" value="Upload picture" id="button">
    </form>
    <!-- print a white line -->
    <p></p>
    <!-- Second button to remove all leftover files -->
    <p id="small">To remove all unused uploaded pictures and their temporary files<BR>
    click below <span style="color: red"><strong>(login required)</strong></span></p>
    <form action="/admin/remove">
        <input type="submit" value="Remove unused files" id="button">
    </form>
    
    <p>device: {{device}}</p>
{% endblock %}