<!-- Use the mobile template and override the content block -->
{% extends "mobile.html" %}

<!-- Override the title -->
{% block title %}Orchid Identifier - Files removed{% endblock %}

{% block content %}
    <!-- All lines in this block will be diplayd in the content block -->
    
    <!-- Display a header, telling the task has been completed -->
    <h2>Moving complete!</h2>
    <!-- Give detailed information -->
    <p>All uploaded pictures and their results<BR>
    are moved to the results directory</p>
    <p>You have removed the following files:</p>
    <p>{{uploads}}</p>
    <p>{{temps}}</p>
    
    <!-- Button to logout -->
    <form action="/accounts/logout/">
        <!-- The submit button with the text Upload picture inside -->
        <input type="submit" value="Logout" id="button">
    </form>
    
{% endblock %}