<!-- Use the base template and override the content block -->
{% extends "mobile.html" %}

<!-- Override the title -->
{% block title %}Orchid Identifier - Login{% endblock %}

{% block content %}
    <!-- All lines in this block will be diplayd in the content block -->
    
    <!-- Display a header -->
    <h3>Login required to remove files!</h3>    
    
    <!-- Ask for the username and password -->
    <form action="/accounts/auth/" method="post">{% csrf_token %}
        <label for="username">User name:</label>
        <input type="text" name="username" value="" id="username">
        <p></p>
        <label for="password">Password:</label>
        <input type="password" name="password" value="" id="pasword">
        <p></p>
        <input type="submit" value="login" id="button">
    </form>
    
    <!-- Button to go back to the home page -->
    <form action="/welcome/">
        <!-- The submit button with the text Home inside -->
        <input type="submit" value="Home" id="button">
    </form>
    
{% endblock %}