<!-- Use the base template and override the content block -->
{% extends "base.html" %}

<!-- Override the title -->
{% block title %}Orchid Identifier - Files removed{% endblock %}

{% block content %}
    <!-- All lines in this block will be diplayd in the content block -->
    
    <!-- Display a header, telling the task has been completed -->
    <h2>Removing complete!</h2>
    <!-- Give detailed information -->
    <p>All uploaded files are removed!</p> 
    
    <!-- Button to logout -->
    <form action="/accounts/logout/">
        <!-- The submit button with the text Upload picture inside -->
        <input type="submit" value="Logout">
    </form>
    
{% endblock %}