<!-- Use the base template and override the content block -->
{% extends "base.html" %}

<!-- Override the title -->
{% block title %}Orchid Identifier - Home{% endblock %}

{% block content %}
    <!-- All lines in this block will be diplayd in the content block -->
    <!-- The displaying content is only for testing and needs to be updated
    for the real version -->

    <!-- Display a header, telling this is the welcome page -->
    <h2>Welcome</h2
    
    <!-- Tell the user to click below to upload a picture -->
    <p>Click below to upload a picture</p>
    
    <!-- Create a form which contains two buttons.
    The first button is for uploading the file -->
    <form action="/upload/">
        <!-- The submit button with the text Upload picture inside -->
        <input type="submit" value="Upload picture">
    </form>
    <!-- print a white line -->
    <p></p>
    <!-- Second button to remove all leftover files -->
    <form action="/admin/remove">
        <input type="submit" value="Remove all uploaded files">
    </form>
{% endblock %}