
/* Lay-out for the body */
body {
            /* Place the text in the middel of the page */
            margin: 10px
}


/* Lay-out for the logo */
#logo {
    /* Place the logo on the leftside of the page */
    float: left;
}

/* Lay-out for sidebar, not used, but available for later */
/*#sidebar {
    float: right;
    width: 200px;
    border: 1px solid #000;
}*/

/* Lay-out for the content */
#content {
    /* place the content left, because logo is described first, the content will
    be displayed right of the logo */
    float: left;
    
    /* Place a border around the content
    3 pixels widht with a pink-like color, The same color of the
    Naturalis logo */
    border: 13px solid #E3004A;
    
    /* Clear 10 pixels around the content, inside de border */
    padding: 10px;
}

/* Lay-out for the footer */
#footer {
    /* Place the footer on the bottom */
    float:left;
    bottom:10px;
}

p {
    font-family: Arial;
    font-size: 40px;
}

h1 {
    font-family: Arial;
    font-size: 120px;
}

h2 {
    font-family: Arial;
    font-size: 100px;
    
}

h3 {
    font-family: Arial;
    font-size: 75px;
}

h4 {
    font-family: Arial;
    font-size: 50px;
}

#small {
    font-size: 25px;
}

form {
    font-family: Arial;
    font-size: 30px;
}

input {
    font-family: Arial;
    font-size: 40px;
}

#button {
    font-family: Arial;
    font-size: 40px;
}