/* This is the default lay-out for mobile devices */

/* Lay-out for the body */
body {
            /* Place a margin of 10 pixels around the text */
            margin: 10px
}


/* Lay-out for the logo */
#logo {
    /* Place the logo on the leftside of the page */
    float: left;
}

/* Lay-out for sidebar, not used, but available for later */
/*#sidebar {
    float: right;
    width: 200px;
    border: 1px solid #000;
}*/

/* Lay-out for the content */
#content {
    /* place the content left, because logo is described first, the content will
    be displayed under the logo */
    float: left;
    
    /* Place a border around the content
    13 pixels widht with a pink-like color, The same color of the
    Naturalis logo */
    border: 13px solid #E3004A;
    
    /* Clear 10 pixels around the content, inside de border */
    padding: 10px;
}

/* Lay-out for the footer */
#footer {
    /* Place the footer on the bottom */
    float:left;
    bottom:10px;
}

/* For all Font-settings below the Naturalis housestyle is aplied.
Which means that the Arial font is everywhere used */

/* Font-settings of p */
p {
    font-family: Arial;
    font-size: 40px;
}

/* Font-settings of h1 */
h1 {
    font-family: Arial;
    font-size: 120px;
}

/* Font-settings of h2 */
h2 {
    font-family: Arial;
    font-size: 100px;
    
}

/* Font-settings of h3 */
h3 {
    font-family: Arial;
    font-size: 75px;
}

/* Font-settings of h4 */
h4 {
    font-family: Arial;
    font-size: 50px;
}

/* id small, used to make text in p smaller than the settings for p */
#small {
    font-size: 25px;
}

/* Font-settings of form */
form {
    font-family: Arial;
    font-size: 30px;
}
/* Font-settings of inut */
input {
    font-family: Arial;
    font-size: 40px;
}

/* id button, for styling the individual buttons */
#button {
    font-family: Arial;
    font-size: 40px;
}